# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Configurações do Banco de Dados
DB_HOST=localhost
DB_USER=root
DB_PASS=senha_aqui
DB_NAME=conectadoa_db

# Segurança
JWT_SECRET=chave_secreta_aqui
